.layout {
  min-height: 100vh;
  background-color: var(--color-gray);
  position: relative;
}

.layout-header {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.layout-main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 900;
}